#warning {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px 10px;
}

#info {
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0;
}

#success {
  background-color: green;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0;
}

.breaks {
  padding-bottom: 400px;
}